/* CSS Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
}

/* Custom CSS */

.game-title {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 20px;
    gap: 40px;
}

.fetch-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7a4caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.fetch-button:hover {
    transform: scale(1.03);
}

.card-image {
    height: 100%;
    width: 100%;
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    object-fit: cover;

}

.card-image:hover {
    transform: scale(1.03);
}

.card-image:active {
    transform: scale(0.99);
}

.card-name {
    text-align: center;
}

@media (max-width: 576px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        gap: 20px;
    }
}